body,html{
  margin : 0px;
  padding : 0px;
  font-family : sans-serif;
  font-size : 12px; 
  overflow : hidden;
}
li{
  cursor : pointer; 
}

#files,#codeCol,#preview{
  position : absolute;
  outline : 1px solid black; 
  height : 100%;
}
#files{
  left : 0px;
  top : 0px;
  width : 200px;
  overflow : hidden;
}
#codeCol{
  left : 200px;
  width : 700px; 
  height : 100%;
  overflow : hidden;
}
#codeUI{
  position : relative;
  height : 65px; 
  min-width : 630px;
  overflow : hidden;
}
#codeUI a{
  display : block;
  float : left;
  padding-right : 10px;
  margin-right : 10px;
  border-right : 1px solid black; 
}
#fontSize{
  float : left;
  margin-top : -2px; 
}
.CodeMirror-line-numbers {
  width: 2.2em;
  color: #AAA;
  background-color: #EEE;
  text-align: right;
  padding-right: .3em;
  font-size: 10pt;
  font-family: monospace;
  padding-top: .4em;
}
.content{
  padding : 10px; 
}
#topFolder{
  width : 100%; 
}
a,a:visited{
  color : black;
  text-decoration : none; 
}
a:hover{
  color:#45729e;
}
#refresh{
  display : block;
  padding  : 5px; 
}
#fileList{
  margin-top : 15px; 
  border-top : 1px solid gray;
  padding-top : 10px;
  height : 500px;
  overflow : auto;
}
#previewFrame{
  width  : 100%;
  height : 100%;
  border : none; 
}
#docMenu{
  position : absolute;
  top : 0px;
  left : 0px;
  display : none; 
}
#docMenu ul{
  font-family : sans-serif;
  font-size : 12px;
  padding :0;
  margin : 0;
  border : 1px solid black;
  background-color : #aaa;
  width : 110px;
  border-bottom : none;
  
}
#docMenu li{
  padding : 4px;
  border-bottom: 1px solid black;
  background-color : white;
  list-style : none;
  cursor : pointer;
  
  background-image : none !important;
}
#docMenu li:hover{
 /* background-color : #ccc; */
}
.left{
  position :relative;
  float : left; 
  
}
.right{
  position : relative;
  float : right; 
}
.noSelect{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
button{
  float : left;
  padding : 0;
  margin : 0;
  margin-top: 1px;
  padding : 5px 10px 5px 10px;
  border : none;
  border-left : 1px solid #aaa;
  cursor : pointer;
  background-color : white;
}
button:hover{
  color :  #078be3;
}
#renameBtn{
  float : right;
  margin-right : 10px;
  margin-left : 10px;
}
.cancel{
  float : right;
}
#renameBtns{
  padding-top : 23px;
}
.saveCancel{
  margin-top : -10px;
}
#ok{
  margin-top : 20px;
}
#modal button{
  border-radius : 4px;
  border : 2px solid white;
  background-color : #333333;
  color : #dddddd;
}

#modal button:hover{
  background-color : black;
  color : white;
}
.defaultBtn{
  border-color : #078be3 !important;
}
#find{
  margin-top : -10px;
}

#find textarea{
  resize : none;
}

#find button{
  width : 90px;
  padding : 4px;
  margin-bottom : 10px;
}
#cover{
  background-color : black;
  position : absolute;
  display : none;
}

#findReplaceBtns{
  margin-top : -114px;
  margin-right : 20px;
}
#fileName{
  position : relative;
  clear : both;
  background-color : #ccc; 
  padding : 10px;
}
#uiContent{
  height : 13px;
}

#color{
  width : 20px;
  height : 20px;
  margin-left : 10px;
  margin-top : -6px;
  float :left;
} 
#color div{
  float : left;
  width : 20px;
  height : 20px;
  border-radius : 4px;
  margin-top : 3px;
  margin-left : -2px;
} 

#customColors{
 margin-top : -1px;
 border : none !important;
 margin-left : 8px; 
}

