body,html{
  background-color : #555;
  color : #ccc; 
  -moz-text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
  -o-text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
  -webkit-text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
  text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}
a, a:visited{
  color : #c2b77e;
}
a:hover{
  color : #87c1fa; 
}

li{
  border-top : 1px solid #666;
  border-bottom : 1px solid #444;
  padding-top : 4px;
  padding-bottom : 4px;
}
li:first-child{
  border-top : none; 
}
li:last-child{
  border-bottom : none;
}
#docMenu{
  -moz-box-shadow : 0px 0px 10px rgba(0,0,0,0.5); 
  -o-box-shadow : 0px 0px 10px rgba(0,0,0,0.5); 
  -webkit-box-shadow : 0px 0px 10px rgba(0,0,0,0.5); 
  box-shadow : 0px 0px 10px rgba(0,0,0,0.5); 
}

#docMenu,#docMenu li{
  background-color : #666; 
}

#docMenu li:hover{
  color : #87c1fa;
}
#docMenu li:hover{
  background-color : #4f492a !important;
}

.CodeMirror-wrapping iframe{
  background : white; 
}

.CodeMirror-wrapping iframe{
  -o-box-shadow: 0px 0px 10px rgba(0,0,0,0.5) inset !important;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5) inset !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5) inset !important;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5) inset !important;
}

#fileName{
  background-color : #544f37; /*#4a4633;*/
}

.CodeMirror-line-numbers {
  color: #aaa;
  text-align: right;
  font-size: 10pt;
  font-family: monospace;
  background-color : #666;
  overflow : hidden;
}
#previewFrame{
  background-color : white; 
}

::-webkit-scrollbar{
  width: 12px;
  
}

::-webkit-scrollbar-track{
  background-color : #999;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
  border-left : 1px solid #666;
}

::-webkit-scrollbar-thumb {
  background-color : #444;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
  border-left : 1px solid #666;
}

select {
  -webkit-appearance : none;
  -webkit-border-radius: 4px;
  -moz-border-radius : 4px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2),
    inset 0 0 10px rgba(0,0,0,0.2); 
  -webkit-padding-end: 20px;
  -webkit-padding-start: 4px;
  outline : none;
  -webkit-user-select: none;
  background-color : #aaa;
  border : 2px solid rgba(255,255,255,0.2);;
  color: #333;
  background-image: url(../images/down-arrow.png);
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow : 1px 1px 1px rgba(255,255,255,0.2);
}

#fontSize{
  margin-top : -4px;
  width : 55px;
}

#uiContent{
  background : #4a4633 !important;
}

#codeCol{
  background : #544d2c !important; 
}
.CodeMirror-line-numbers{
  background : #635d3d !important;
}




